@font-face {
    font-family: 'Cryptik'; /* Nombre de la fuente */
    src: url('../../../assets/fonts/Cryptik.ttf') format('truetype'), /* Ruta a la fuente regular */
         
}

.Cryptik-a-card {
    font-family: 'Cryptik', sans-serif;
    font-size: 1.7rem;
}

@font-face {
    font-family: 'batman'; /* Nombre de la fuente */
    src: url('../../../assets/fonts/batmfa__.ttf') format('truetype'), /* Ruta a la fuente regular */
         
}

.batman-a-card {

    font-family: batman;
    letter-spacing: 1px;
    font-size: 1.7rem;

}


@font-face {
    font-family: 'daredevil'; /* Nombre de la fuente */
    src: url('../../../assets/fonts/Daredevil.ttf') format('truetype'), /* Ruta a la fuente regular */
         
}


.daredevil-a-card {

    font-family: daredevil;
    letter-spacing: 1px;
    font-size: 1.7rem;    

}


@font-face {
    font-family: 'greenLantern'; /* Nombre de la fuente */
    src: url('../../../assets/fonts/redrocketital.ttf') format('truetype'), /* Ruta a la fuente regular */
         
}

.greenLantern-a-card {

    font-family: greenLantern;
    letter-spacing: 1px;
    color: #0de531;
    font-size: 2.3rem;   

}


@font-face {
    font-family: 'hulk'; /* Nombre de la fuente */
    src: url('../../../assets/fonts/hulk.ttf') format('truetype'), /* Ruta a la fuente regular */
         
}

.hulk-a-card {

    font-family: hulk;
    letter-spacing: 1px;
    color: #09781c;
    font-size: 2.3rem; 

}



@font-face {
    font-family: 'aquaman'; /* Nombre de la fuente */
    src: url('../../../assets/fonts/Aquawax Black Trial.ttf') format('truetype'), /* Ruta a la fuente regular */
         
}

.aquaman-a-card {

    font-family: aquaman;
    letter-spacing: 1px;
    color: aqua;
    font-size: 2.3rem; 

}



@font-face {
    font-family: 'wolverine'; /* Nombre de la fuente */
    src: url('../../../assets/fonts/ferretfacelaserital.ttf') format('truetype'), /* Ruta a la fuente regular */
         
}

.wolverine-a-card {

    font-family: wolverine;
    letter-spacing: 1px;
    color: rgba(255, 227, 44, 0.811);
    font-size: 2.8rem; 

}







@font-face {
    font-family: 'Avenger'; /* Nombre de la fuente */
    src: url('../../../assets/fonts/AVENGEANCE HEROIC AVENGER.ttf') format('truetype'), /* Ruta a la fuente regular */
         
}

.avenger-h2 {

    font-family: 'Avenger';
    letter-spacing: 2px;

}

